In [26]:
#Import dependencies
import pandas as pd

In [27]:
#Read in employment and unemployment datasets to pandas dataframe
try:
    employment_df = pd.read_csv('../source_data/california_employment_data.csv')
    unemployment_df = pd.read_csv('../source_data/california_unemployment_data.csv')
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Area Type"]=="Sub-County Place"].index)
    employment_df = employment_df.drop(employment_df[employment_df["Seasonally Adjusted (Y/N)"] == "Y"].index)
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Seasonally Adjusted(Y/N)"]=="Y"].index)
    unemployment_df = unemployment_df.drop('Seasonally Adjusted(Y/N)', axis = 1)
    employment_df = employment_df.drop("Seasonally Adjusted (Y/N)", axis = 1)
    employment_df = employment_df.drop("Series Code", axis = 1)
    unemployment_df = unemployment_df.drop("Status", axis = 1)
    unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Year"]<2014].index)
    updated_employment_data = pd.merge(employment_df, unemployment_df, on = ['Area Type','Area Name', "Year", "Month"], how = "left")
    updated_employment_data = updated_employment_data.drop(['Date_Numeric'], axis = 1)
    updated_employment_data = updated_employment_data.rename(columns={"Current Employment":"Industry Current Employment",
                                                                  "Employment":"Regional Employment",
                                                                  "Unemployment":"Regional Unemployment",
                                                                  "Unemployment Rate": "Regional Unemployment Rate",
                                                                  "Labor Force": "Regional Labor Force"})
    Location_df = updated_employment_data["Area Name"].unique()
    pd.DataFrame(Location_df).to_csv("../data/Location_df.csv")
    #Processed latitude and longitude data in Excel
    Location_df = pd.read_csv("../data/Location_df_v2.csv")
    updated_employment_data = pd.merge(updated_employment_data,Location_df,on = "Area Name", how = "inner")
    updated_employment_data.to_csv("../data/updated_employment_data.csv")
    updated_csv = updated_employment_data
    county_employment_data = updated_csv.loc[updated_csv["Area Type"] == "County"]
    state_employment_data = updated_csv.loc[updated_csv["Area Type"] == "State"]
    metropolitan_area_data = updated_csv.loc[updated_csv["Area Type"] == "Metropolitan Area"]
    county_employment_data.to_csv("../data/county_employment_data.csv")
    state_employment_data.to_csv("../data/state_employment_data.csv")
    metropolitan_area_data.to_csv("../data/metropolitan_area_data.csv")
except FileNotFoundError:
        print("Data files not found")

In [28]:
# Sort industries based on employment rates
county_unemployment_sorted_data = county_employment_data.sort_values(by='Regional Unemployment Rate')

# Get the Top 10 and Bottom 10 industries
top_10 = sorted_data.tail(10)  # Top 10 industries
bottom_10 = sorted_data.head(10)  # Bottom 10 industries
top_10_df=pd.DataFrame(top_10)
bottom_10_df=pd.DataFrame(bottom_10)

print("Top 10 Industries based on Unemployment Rate:")
top_10_df[['Year','Month','Industry Title', 'Regional Unemployment Rate']].reset_index(drop=True)
# print(top_10[['Industry Title', 'Regional Unemployment Rate']])
# print("\nBottom 10 Industries based on Employment Rate:")
# bottom_10_df[['Industry Title', 'Regional Unemployment Rate']]
# print(bottom_10[['Industry Title', 'Regional Unemployment Rate']])

NameError: name 'sorted_data' is not defined

In [ ]:
print("\nBottom 10 Industries based on Unemployment Rate:")
bottom_10_df[['Year','Month','Industry Title', 'Regional Unemployment Rate']].reset_index(drop=True)

Bottom 10 Industries based on Unemployment Rate:

,Year,Month,Industry Title,Regional Unemployment Rate
0,2019,May,Finance and Insurance,1.8
1,2019,April,Total Farm,1.8
2,2019,April,Total Wage and Salary,1.8
3,2019,April,Local Government,1.8
4,2019,April,Government,1.8
5,2019,April,Accommodation and Food Services,1.8
6,2019,April,Federal Government,1.8
7,2019,April,Other Services,1.8
8,2019,April,"Arts, Entertainment, and Recreation",1.8
9,2019,April,Leisure and Hospitality,1.8

In [29]:

updated_employment_data

,Area Type,Area Name,Year,Month,Date,Industry Title,Industry Current Employment,Regional Labor Force,Regional Employment,Regional Unemployment,Regional Unemployment Rate,Unnamed: 0,lat,long
0,County,Alameda County,2014,January,01/1/2014,Durable Goods,44200,797300,744800,52500,6.6,0,37.6016892,-121.7195459
1,County,Alameda County,2014,January,01/1/2014,Total Farm,500,797300,744800,52500,6.6,0,37.6016892,-121.7195459
2,County,Alameda County,2014,January,01/1/2014,Service-Providing,600700,797300,744800,52500,6.6,0,37.6016892,-121.7195459
3,County,Alameda County,2014,January,01/1/2014,"Trade, Transportation, and Utilities",129600,797300,744800,52500,6.6,0,37.6016892,-121.7195459
4,County,Alameda County,2014,January,01/1/2014,Total Wage and Salary,701200,797300,744800,52500,6.6,0,37.6016892,-121.7195459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485648,State,California,2024,April,04/1/2024,Couriers and Messengers,129900,19213200,18281900,931400,4.8,87,36.778261,-119.4179324
485649,State,California,2024,April,04/1/2024,Freight transp. Arrangement,35800,19213200,18281900,931400,4.8,87,36.778261,-119.4179324
485650,State,California,2024,April,04/1/2024,Support Activities for Transportation,113000,19213200,18281900,931400,4.8,87,36.778261,-119.4179324
485651,State,California,2024,April,04/1/2024,Transportation and Warehousing,754300,19213200,18281900,931400,4.8,87,36.778261,-119.4179324
485652,State,California,2024,April,04/1/2024,Clothing and Clothing Accessories ...,112900,19213200,18281900,931400,4.8,87,36.778261,-119.4179324